[submodule "lib/sai2-common.git"]
	path = lib/sai2-common.git
	url = https://github.com/manips-sai/sai2-common.git
[submodule "lib/sai2-simulation.git"]
	path = lib/sai2-simulation.git
	url = https://github.com/manips-sai/sai2-simulation.git
[submodule "lib/chai3d.git"]
	path = lib/chai3d.git
	url = https://github.com/chai3d/chai3d
